/*.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.container
{
  display: flex;
}*/

.App {
  textAlign: center;
}

.App-logo {
  height: 40vmin;
  pointEvents: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  backgroundColor: #282c34;
  minHeight: 100vh;
  display: flex;
  flexDirection: column;
  alignItems: center;
  justifyContent: center;
  fontSize: calc(10 + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.container
{
  display: flex;
}
 h1 {
            marginLeft: 70;
        }
        form {
            margin: 10% 30%;
        }
        form ul li {
            listStyle: none;
            marginBottom: 5;
        }
        form ul li label {
            float: left;
            clear: left;
            width: 100;
            textAlign: center;
            marginRight: 10;
            fontFamily: Verdana, Arial, Helvetica, sans-serif;
            fontSize: 14;
        }
        [type="submit"] {
            clear: left;
            margin: 20 0 0 30;
            fontSize: 18;
        }
        p {
            marginLeft: 20;
            fontWeight: bold;
        }
        
        #customers {
  paddingTop: 10%;
  paddingBottom: 30%;
  textAlign: left;
}
#customers td, #customers th {
  border: 1px solid black;
}
