<h1>sign up form</h1>

<form action="/register" method= "POST">


	<input type="number" name="userid" placeholder="userid"><br>
	<input type="text" name="username" placeholder="username"><br>
	<input type="textarea" name="address" placeholder="enter address" rows="5" cols="20"><br>
	<input type="date" name="dob" placeholder="date of birth"><br>
	<input type="password" name="password" placeholder="password"><br>
	<button>submit</button>


</form>

<h1>This is home page</h1>
<li><a href="/register">Sign up!!</a></li>
<li><a href="/login">Login</a></li>
<li><a href="/logout">Logout</a></li>